<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon Detail</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Pokemon App</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="card mt-4">
            <div class="card-body">
                <h1 class="card-title text-center">{{ pokemon['name'].capitalize() }}</h1>
                <div class="text-center mb-4">
                    <img src="{{ pokemon['sprites']['front_default'] }}" alt="{{ pokemon['name'] }}" class="pokemon-detail-img img-fluid">
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Height: {{ pokemon['height'] }}</li>
                    <li class="list-group-item">Weight: {{ pokemon['weight'] }}</li>
                    <li class="list-group-item">Base Experience: {{ pokemon['base_experience'] }}</li>
                    <li class="list-group-item">Types:
                        {% for type in pokemon['types'] %}
                            <img src="{{ url_for('static', filename='icons/' ~ type['type']['name'] ~ '.png') }}" alt="{{ type['type']['name'] }}" class="type-icon"> {{ type['type']['name'] }}{% if not loop.last %}, {% endif %}
                        {% endfor %}
                    </li>
                    <li class="list-group-item">Description: {{ flavor_text }}</li>
                </ul>
                <div class="text-center mt-4">
                    <a href="/" class="btn btn-primary">Back to List</a>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
